
body{
    background-color: beige;
}


h1{
    color: orangered;
    background-color: wheat;
    text-align: center;
}


p{  
    color: palevioletred;
    background-color: bisque;
    text-align: center;
}